<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015691485549-b9rqg6r9l49nmup1250dgq5hc6k3kv1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015691485549-b9rqg6r9l49nmup1250dgq5hc6k3kv1g</string>
	<key>API_KEY</key>
	<string>AIzaSyCdjXzWShnhyu-2VdYveNOV7xAjvjqP9tQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1015691485549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-67ba7</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-67ba7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015691485549:ios:4cdcee382a75f2333afa64</string>
</dict>
</plist>